<footer class="footer-footer mt-auto py-3 bg-light fixed-bottom" style="display: flex;
            justify-content: center;
            align-items: center;">
    <div class="container-footer" style="margin-bottom: 0px;">
        <span class="text-muted">Sortie.com - 2024</span>
    </div>
</footer>
